<!DOCTYPE html>
<html>

<head>

  <style>
    .row {
      display: flex;
      text-align: center;
    }

    .column {
      flex: 50%;
    }
  </style>
</head>

<body>

  <input id="linked" type="hidden" value={{linked}}></input>

  <input type="hidden" id="roomid" value={{room_id}}></input>

  <div class="row">
    <div class="column">
      <div id="sim"></div>
    </div>
    <div class="column">
      <h1 id="msgs"></h1>

      <div id="name"></div>

      <div id="chat"></div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <!-- <script type="text/javascript" src="https://cdnjs.cloudfare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script> -->
  <script src="../static/js/node_modules/socket.io-client/dist/socket.io.js"></script>
  <!-- <script type="module">
    import { Canvas } from "../static/js/canvas.js";
    var canvas = new Canvas(300, 300, 'game');
  </script> -->
  <script>
    var str = '"../static/js/canvas.js?ver\=' + Date.now() + '"';
    document.write(`<script type="module" src=` + str + `><\/script>`);
    // if ($("#linked").val().localeCompare("true") === 0) {
    //   var str = '"../static/js/join_game.js?ver\=' + Date.now() + '"';
    //   document.write(`<script type="module" src=` + str + `><\/script>`);
    // } else {
    str = '"../static/js/chat.js?ver\=' + Date.now() + '"';
    document.write(`<script id="ioscript" type="module" src=` + str + `><\/script>`);
    // }
  </script>
</body>

</html>